* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #378ADD;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 33%;
    height: 100px;
}

.header-buttons ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 30px;
    font-weight: bold;
}

.header-buttons a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 150px;
    margin: 10px;
}

.landingspagina {
    background-image: url(".././img/background-homepage.jpg");
    width: 100%;
    height: 89vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

.search-box {
    background-color: #B5D4F4;
    border-radius: 20px;
    padding: 30px 40px;
    margin: 40px;
    width: 300px;
}

.search-box input {
    border: none;
    border-radius: 8px;
    padding: 10px 12px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.search-box button {
    color: white;
    border-radius: 10px;
    padding: 14px;
    cursor: pointer;
    width: 100%;
    border: none;
}

.vind-jouw-vakantie {
    background-color: #EF9F27;
}

.voorgestelde-reizen {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.voorgestelde-reis {
    border: black 1px solid;
    border-radius: 15px;
    width: 25%;
    height: 40vh;
}

.voorgestelde-reizen-box-row {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.bekijk-alle-reizen-button {
    background-color: white;
    color: #378ADD;
    border: 2px solid #378ADD;
    border-radius: 8px;
    padding: 12px 32px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

footer {
    background-color: #378ADD;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    
}

.logo-footer {
    width: 300px;
    margin-left: 10px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.reizen-search-box {
    background-color: #E6F1FB;
    width: 30vw;
    height: 100vh;
    margin: 15px;
    border-radius: 25px;
}

.search-filter-reizen-page {
    display: flex;
    flex-direction: column;
}

.search-filter-reizen-page h3{
    margin-top: 10px;
}

.input-box-search-filter {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: #185FA5 solid 2px;
    margin: 10px 0px 0px 20px;
}

.bestemming-column {
    display: flex;
    flex-direction: column;
}

#bestemming-tag {
    margin: 20px 0px 0px 20px;
}

.search-filter-submit-button {
    display: flex;
    background-color: #EF9F27;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 10px 15px 0 auto;
    transition-duration: 0.2s;
    cursor: pointer;
}

.search-filter-submit-button:hover{
    scale: 1.05;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    color: black;
}

.privacybeleid-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.privacy-title {
    text-align: center;
    font-size: 28px;
    color: #0077cc;
    margin-bottom: 20px;
    font-weight: bold;
}

.subtitle-privacy {
    font-weight: bold;
    margin-top: 20px;
    color: #005fa3;
}

.privacy-block {
    margin-bottom: 15px;
}

.facts-list {
    margin-left: 20px;
    margin-top: 5px;
}

.facts-list div {
    margin-bottom: 5px;
}

.overons-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.overons-title {
    text-align: center;
    font-size: 28px;
    color: #0077cc;
    margin-bottom: 20px;
    font-weight: bold;
}

.overons-block {
    margin-bottom: 15px;
    line-height: 1.6;
}

#login-register {
    display: flex;
    justify-content: space-between;
}

.login-signup-box {
    display: flex;
    width: 29%;
    height: 90%;
    background-color: #E6F1FB;
    border: 2px solid #185FA5;
    margin: 30px 30px 0px 30px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.login-signup-form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

.signin-input {
    display: flex;
    width: 80%;
    height: 15%;
    font-size: larger;
    border: 2px solid #185FA5;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}

.sign-in {
    display: flex;
    align-self: flex-end;
    font-size: xx-large;
    background-color: #EF9F27;
    border: none;
    padding: 8px 13px 8px 13px;
    border-radius: 5px;
    transition: 0.1s;
    gap: 5px;
}

.sign-in:hover {
    scale: 1.1;
}


.contact-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contact-title {
    text-align: center;
    font-size: 28px;
    color: #0077cc;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-block {
    margin-bottom: 20px;
}

.contact-subtitle {
    font-weight: bold;
    color: #005fa3;
    margin-bottom: 10px;
}

.phone-number {
    font-size: 22px;
    font-weight: bold;
    color: #0077cc;
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact-text {
    margin-bottom: 10px;
}

.language-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.header-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.navigation {
    display: flex;
    gap: 20px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.reis-card {
    display: flex;
    gap: 20px;
    padding: 40px;
    background: white;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    align-items: center;
}

.card-img {
    width: 220px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-text {
    color: gray;
    margin-bottom: 5px;
}

.card-price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-small {
    font-size: 12px;
    color: gray;
}

.card-buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.button-view {
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: #1e88e5;
}

.button-edit {
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: #ffa000;
}

.button-delete {
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: #e53935;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.button-toevoegen a {
    text-decoration: none;
    padding: 12px;
    background-color: #0077cc;
    color: white;
    border-radius: 6px;
}

.text-admin {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.admin-button {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.admin-button a {
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: #1e88e5;
}

.add-button,
.back-button {
    display: block;
    width: 100%;
    text-align: center;
    background: #1e88e5;
    color: #fff;
    border: 0;
    padding: 12px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
    transition: transform 0.15s ease;
    transform-origin: center;
}


.form-actions {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.add-container {
    max-width: 480px;
    margin: 40px auto;
    padding: 25px;
    text-align: left;
    border: 2px solid #ddd;
    border-radius: 15px;
}

.add-form label {
    display: block;
    margin: 6px 0;
    font-weight: bold;
    color: #333;
}

.add-form input,
.add-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}
.reizen-layout{
    display: flex;
    width: 100%;
}
.reizen-cards{
    display: flex;
    margin-left: 10%;
    margin-top: 1.9%;
    width: 50%;
}

.reizen-cards div {
    margin-top: 1.9%;
    width: 100%;
}

.reizen-cards h2{
font-size: xx-large;
}

.reis-card-overzicht{
    display: flex;
    width: 100%;
    min-height: 20pc;
    margin-bottom: 20px;
    background-color: #E6F1FB;

    border-radius: 20px;
    border: #185FA5 2px solid;
}

.reis-card-image{
    width: 163px;
    height: 163px;
    display: flex;
    align-self: center;
}

.reis-card-name{
    margin-top: 7%;
}
.reis-card-left-side{
    align-self: center;
}

.reis-card-middle-part{
    margin-left: auto;
    margin-top: 10%;
}

.reis-card-middle-part-name-and-star{
    display: flex;
    flex-direction: row;

}
.reis-card-land{
    margin-top: 30px;
    margin-bottom: 50px;
}

.reis-card-sterren{
    margin-top: 18px;
    margin-left: 5px;
}

.reis-card-right-side{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    margin-left: 150px;
    margin-bottom: 50px;
    position: relative;
    
}
.reis-card-price{
    font-size: x-large;
    margin-left: 15px;
    margin-bottom: 5px;
}

.reis-card-card-button{
    width: 100%;
    height: 3pc;
    align-self: flex-end;
    margin-top: 10%;
    margin-right: 20px;
}

.reizen-cards .vind-jouw-vakantie{
    border-radius: 10px;
    color: white;
    border: none;
}